<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% for  message in messages %}
 <div class="alert" alert-{{messages.tags}} alert-dismissible fade show" role="alert">

    <strong>Message:</strong>{{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="close">


    
    <span arial-hidden="true">&times;</span>
    </button>
 </div>
{% endfor %}
    <h1>SIGN IN</h1>

    <form action="" method="POST">
        {% csrf_token %}
       
          <label for="">Username</label>
          <input type="text" id="username" name="username" placeholder="Create a username (only letters and numbers)" Required>
          <br>
          
          <label for="">Password</label>
          <input type="password" id="pass1" name="pass1" placeholder=""Enter Your password(only letters and numbers)" Required>
          <br>
          
         <button type="submit">Sign In</button>

          </form>

    



    
</body>



    

</html>